.powrc
.bundle
db/*.sqlite3
db/schema.rb
db/production_data.sql
log/*.log
log/
tmp/
.bundle
tmp/**/*
config/database.yml
config/paypal.yml
public/stylesheets/compiled/*
public/system/**/*
public/uploads
public/uploads/**/*
uploads/**/*
vendor/bundle
.DS_Store
.bash_history
.bundler
.gem
.mysql_history
.ssh
.sass-cache
.yardoc
solr/data
solr/pids
.idea
solr-cmd
public/assets

*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/


